# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Database
*.sqlite3
db/*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Env
.env
*.env

# Media
/media/
/static/
